
<div class="sidebar sidebar-widget">
    <h3 class="title">Recherche</h3>
    <form id="rechercheForm" method="POST" enctype="multipart/form-data" action="{{ path('recherche') }}" >


        <div class="form-group">

            <select class="selectpicker search-fields" name="service">
                <option>Offre</option>
                <option>Demande</option>
            </select>
            </select>
        </div>


        <div class="form-group">
            <input class="form-control search-fields" placeholder="région" type="text" name="region">
        </div>

        <div class="form-group">
            <input class="form-control search-fields" placeholder="Periode" type="text" name="periode">
        </div>


        <div class="form-group">
            <button class="search-button" type="submit">Rechercher</button>
        </div>
    </form>
</div>














































{#
<div class="col-lg-4 col-md-4 col-xs-12">
    <!-- Search contents sidebar start -->
    <div class="sidebar sidebar-widget">
        <h3 class="title">Recherche</h3>
        <form  method="post">

            <div class="form-group">
                <select class="selectpicker search-fields">
                    <option>Garde des animaux</option>
                    <option>animal perdu</option>
                    <option>Promenade des animaux</option>
                </select>
            </div>

            <div class="form-group">
                <select class="selectpicker search-fields">
                    <option>offre</option>
                    <option>Demande</option>
                </select>
            </div>
            <div class="form-group">
                <input  type="text" class="form-control" placeholder="region" name="region" id="r-from">

            </div><div class="form-group">
                <input type="text" class="form-control" placeholder="periode" name="periode" id="r-from">
            </div>

            <div class="form-group">
                <input type="submit" name="submit" value="Recherech" class="search-button">
            </div>
        </form>
    </div>
    <!-- Search contents sidebar end -->

    <!-- Helping Center Start -->
    <div class="sidebar sidebar-widget helping-center">
        <h3 class="title">Helping Center</h3>
        <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>
        <ul class="contact-link">
            <li>
                <i class="fa fa-map-marker"></i>
                Aenean vulputate porttitor
            </li>
            <li>
                <i class="fa fa-phone"></i>
                <a href="tel:+55-417-634-7071">
                    +55 417 634 7071
                </a>
            </li>
            <li>
                <i class="fa fa-envelope-o"></i>
                <a href="mailto:info@themevessel.com">
                    info@themevessel.com
                </a>
            </li>
        </ul>
    </div>
    <!-- Helping Center Start -->
</div>


#}