<div align="right">
    <h3 style="color: #0004a2"> {{ nom }} </h3>
    <h2 style="color: #0004a2"> {{ tel }} </h2>
</div>
<div align="left">
    {{ text }}
</div>
<div align="left">
    <p style="color: darkred">{{ id }}</p>
</div>