<div class="search-section hidden-sm hidden-md hidden-lg">
    <div class="container">
        <div class="search-section-area">
            <div class="search-area-inner">
                <div class="search-contents show-search-area">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields">
                                    <option>Area</option>
                                    <option>1000</option>
                                    <option>800</option>
                                    <option>600</option>
                                    <option>400</option>
                                    <option>200</option>
                                    <option>200</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields">
                                    <option>Property Status</option>
                                    <option>For Sale</option>
                                    <option>For Rent</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields">
                                    <option>Property Types</option>
                                    <option>Apartments</option>
                                    <option>Houses</option>
                                    <option>Commercial</option>
                                    <option>Garages</option>
                                    <option>Lots</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" data-live-search="true" data-live-search-placeholder="Search value" >
                                    <option>Location</option>
                                    <option>United States</option>
                                    <option>United Kingdom</option>
                                    <option>American Samoa</option>
                                    <option>Belgium</option>
                                    <option>Cameroon</option>
                                    <option>Canada</option>
                                    <option>Delaware</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" data-live-search="true" data-live-search-placeholder="Search value" >
                                    <option>Max Area (Sq Ff)</option>
                                    <option>800</option>
                                    <option>1200</option>
                                    <option>1600</option>
                                    <option>2000</option>
                                    <option>2400</option>
                                    <option>2800</option>
                                    <option>3200</option>
                                    <option>3600</option>
                                    <option>4000</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" data-live-search="true" data-live-search-placeholder="Search value" >
                                    <option>Min Area (Sq Ff)</option>
                                    <option>800</option>
                                    <option>1200</option>
                                    <option>1600</option>
                                    <option>2000</option>
                                    <option>2400</option>
                                    <option>2800</option>
                                    <option>3200</option>
                                    <option>3600</option>
                                    <option>4000</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="range-slider">
                                <div data-min="0" data-max="150000" data-unit="USD" data-name="price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <button class="search-button">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>